.rooms{
    background-color: rgb(255, 248, 240);
}
.rooms-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(300px, auto);
}
.room-card{
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 1;
}

.room-card-large{
    grid-column: span 12;
}

.room-card-small{
    grid-column: span 12;
}

@media screen and (min-width: 768px){
    .room-card-large{
        grid-column: span 6;
    }
    
    .room-card-small{
        grid-column: span 6;
    }
}

@media screen and (min-width: 992px){
    .room-card-small{
        grid-column: span 3;
    }
}

.room-card img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
    z-index: -1;
}
.room-card:hover img{
    transform: scale(1.1);
    filter: blur(2px);
}

.book-btn{
    border: 1px solid white;
    color: white;
    padding: 0.4rem 0.8rem;
    background-color: transparent;
    transition: all 0.3s ease;
}

.book-btn:hover{
    border: 1px solid transparent;
    background-color: var(--cl-primary);
}
.room-link{
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}
.room-card:hover .room-link{
    border-top: 1px solid  rgb(255, 248, 240);
    height: 3.5rem;
}