.testimonial {
  background-image: url("../../assets/image/bg/testimonial.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.testimonial-slider {
  margin: auto;
}

@media screen and (min-width: 768px) {
  .testimonial-slider {
    margin-left: 20%;
  }
}


@media screen and (min-width: 992px) {
    .testimonial-slider {
      margin-left: 40%;
    }
  }

.test-img {
  width: 22rem;
  aspect-ratio: 3/4;
  overflow: hidden;
}
.test-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-card {
  overflow: hidden;
}
