header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 32;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.2rem;
  border-bottom: 1px solid var(--cl-primary);
  z-index: 23456;
}

.disply_on_sm {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.scrolled {
  background-color: black;
}

.hide-book-btn {
  display: none;
}

/* ============= mobile nav ============== */

.nav-links-container {
  position: absolute;
  top: 0;
  right: -18rem;
  height: 100vh;
  width: 18rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  z-index: 10;
  transition: all 0.4s ease-in-out;
}

.toggle-nav {
  right: 0;
}

.nav_btn {
  border: none;
  color: #acacac;
  font-weight: 500;
  text-align: left;
  background-color: transparent;
  margin-inline: 0.5rem;
  padding: 0.6rem 1rem;
  transition: all 0.5s ease;
  border-bottom: 1px solid #4a4a4a;
}
.nav_btn:hover {
  color: var(--cl-secondary);
}
.bars {
  padding: 0.8rem 1.2rem;
}
.cancel {
  top: 0.6rem;
  right: 2rem;
  position: absolute;
}
.social-icon{
  position: absolute;
  bottom: 1rem;
  left: 0;
}

.nav-social-icons{
  padding: 1rem;
  border: 1px solid var(--cl-secondary-light);
}

/* ================= nav contact =================== */
.nav-contact-icon{
  color: var(--cl-secondary);
}

/* =========================== */

@media screen and (min-width: 992px) {
  .disply_on_sm {
    display: none;
  }

  .nav_btn {
    background-color: transparent;
    margin-inline: 0.5rem;

    border-bottom: none;
  }

  .nav-links-container {
    position: relative;
    top: auto;
    right: auto;
    height: auto;
    width: auto;
    background-color: transparent;
    display: block;
  }
}

/* =================================== HOME ================================= */
.home {
  position: relative;
  background-color: silver;
}

.home-slide-container{
 position: relative;
 width: 100%;
 height: 100%;
 overflow: hidden;
}

.hero-bg-img{
  position: absolute;
  height: 100%;
  width: 100%;
}

.home-slide {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url(../../assets/image/bg/home-bg.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.h1-2x {
  font-size: 3rem;
}
.home-btn {
  position: relative;
  padding: 0.5rem 1.5rem;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.slick-next {
  display: none !important;
}
.slick-prev {
  display: none !important;
}

.home-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: var(--cl-primary);
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
.home-btn:hover {
  border: 1px solid transparent;
}
.home-btn:hover::before {
  left: 0;
  width: 100%;
}

/* =================================== CHECK ================================= */

.check {
  position: relative;

  padding-block: 1.5rem;
  background-color: white;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .check {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
}

.pick-date-icon {
  color: var(--cl-primary);
}
.pick-date-input {
  color: var(--cl-primary);
  border: none;
  width: 100%;
}
.pick-date-input:hover,
.pick-date-input:focus {
  border: none;
  outline: transparent;
}
